services:
  postgres:
    image: postgres:13-alpine
    container_name: gym_postgres_db
    environment:
      POSTGRES_DB: gym_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d gym_db"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  proxy:
    image: nginx:alpine
    container_name: gym_proxy
    ports:
      - "80:80"
    volumes:
      - ./proxy/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./proxy/active_upstream.conf:/etc/nginx/conf.d/active_upstream.conf:ro
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
    driver: local
